# Ignore the secret API key
.env

# Ignore the virtual environment folder
ml_env/
venv/
env/

# Ignore Mac system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

.idea/

# LARGE FILE WARNING:
#similarity.pkl